@page "/refinance-calculator/{savedHash?}"
@model RefinanceModel
@{
    ViewData["Title"] = "Credit Calculator";
}
<h2>@Model.SavedHash</h2>

<p>Use this page to detail your site's privacy policy.</p>
